.simplify-deleted
{
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

/*
body
{
    opacity: 0 !important;
}

body.simplified
{
    opacity: 1 !important;
}
*/